/** LOADER :: STARTS (https://codepen.io/candrews/pen/KzJJmz) */
.loader {
    position: relative;
    width: 44px;
    height: 8px;
    margin: 12px auto;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #ccc;
    position: absolute;
}

.dot_1 {
    animation: animateDot1 1.5s linear infinite;
    left: 12px;
    background: #e579b8;
}

.dot_2 {
    animation: animateDot2 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}

.dot_3 {
    animation: animateDot3 1.5s linear infinite;
    left: 12px;
}

.dot_4 {
    animation: animateDot4 1.5s linear infinite;
    animation-delay: 0.5s;
    left: 24px;
}

@keyframes animateDot1 {
    0% {
        transform: rotate(0deg) translateX(-12px);
    }
    25% {
        transform: rotate(180deg) translateX(-12px);
    }
    75% {
        transform: rotate(180deg) translateX(-12px);
    }
    100% {
        transform: rotate(360deg) translateX(-12px);
    }
}

@keyframes animateDot2 {
    0% {
        transform: rotate(0deg) translateX(-12px);
    }
    25% {
        transform: rotate(-180deg) translateX(-12px);
    }
    75% {
        transform: rotate(-180deg) translateX(-12px);
    }
    100% {
        transform: rotate(-360deg) translateX(-12px);
    }
}

@keyframes animateDot3 {
    0% {
        transform: rotate(0deg) translateX(12px);
    }
    25% {
        transform: rotate(180deg) translateX(12px);
    }
    75% {
        transform: rotate(180deg) translateX(12px);
    }
    100% {
        transform: rotate(360deg) translateX(12px);
    }
}

@keyframes animateDot4 {
    0% {
        transform: rotate(0deg) translateX(12px);
    }
    25% {
        transform: rotate(-180deg) translateX(12px);
    }
    75% {
        transform: rotate(-180deg) translateX(12px);
    }
    100% {
        transform: rotate(-360deg) translateX(12px);
    }
}

/** LOADER :: ENDS*/

/** BOOTSTRAP BORDER REMOVE :: STARTS */
.form-control,
.btn{
    border-radius: 0px;
}
/** BOOTSTRAP BORDER REMOVE :: ENDS */
.dgrid-main {
    width: 100%;
    box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
}

.dgrid-loader {

    width: 200px;
    margin: 0 auto;
    position: relative;
}

.dgrid-alpha {
    border: 1px solid #8c8c8c;
    box-shadow: 0px 10px 15px -3px #000;
}

.dgrid-left {
    width: 20%;
    box-shadow: 5px 0px 13px -10px #000;
    position: relative;
    z-index: 2;
}

.dgrid-center {
    width: 65%;
    overflow: auto;
    overflow: hidden;
    /*box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.5)*/
}

.dgrid-right {
    width: 15%;
    box-shadow: -5px 0px 13px -10px #000;
    position: relative;
}

.dgrid {
    float: left;
}

.dgrid-head, .dgrid-body {
    display: table;
}

.dgrid-head {
    height: 90px;
    background-color: #263238;
    color: #fafafa;
    width: 101%;
}

.dgrid-body {
    width: 100%;
}

.dgrid-head .date-column {
    padding: 15px;
    width: 70px;
    height: 90px;
    background-color: #263238;
    float: left;
    color: #fafafa;
}

.floating-calender {
    width: 1960px;
    position: relative;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}

.date-column span {
    display: block;
}

.heading {
    padding-top: 25px;
    color: #fff;
}

.dgrid-row {
    background-color: rgba(246, 246, 246, 0.87);
    border-bottom: 1px solid rgba(69, 69, 69, 0.26);
    width: 100%;
    height: 50px;
    padding: 15px;
    font-weight: bold;
}

.dgrid-row span {
    display: block;
}

.dcal-col {
    display: block;
    float: left;
    height: 50px;
    width: 70px;
    border-left: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    padding: 10px 5px;
}

.room_rate {
    padding-top: 31px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.action-title {
    padding-top: 5px;
}

.bulk-action {
    width: 70%;
    border-radius: 0px;
    margin-left: 15%;
    margin-top: 2%;
}

.check-room {
    float: left;
}

.check-room {
    padding-bottom: 4px;
    padding-left: 22px;
    padding-top: 10px;

}

.offer-rate {
    background-color: rgba(255, 117, 26, 0.73);
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 0px 2px 0px 0px;
    font-size: 10px;
    float: right;
    height: 18px;
    padding-top: 2px;
    margin-bottom: 15px;
}

.offer-rate small {
    font-size: 115%;
}

.bkn-select {
    border: 2px solid rgba(176, 176, 176, 0.37) !important;
    margin-bottom: 5px;
    width: 65%;
    margin-left: 28px;

}

.btn-book-now {
    margin-left: 33px;
}

.available-room-child {
    margin: 3px;
    line-height: 15px;
}

.hot-deal {
    background-color: #FF751A;
    color: #fff;
    height: 16px;
    font-size: 9px;
    border-bottom-right-radius: 15px;
    width: 50%;
}

.old-price {
    text-decoration: line-through;
    font-size: 9px;
    color: #AB9F9F;
    padding-top: 3px;
    font-weight: unset;
    line-height: 9px;
}

.new-price {
    color: #558B2F;
    padding-top: 10px;
}

#dgrid-data-column .dgrid-row {
    padding: 0;
}

#dgrid-dates {
    cursor: pointer;
}

.grd-room-name,
.grd-facility-name,
.grd-room-facilities {
    display: block;
}

.grd-room-name {
    font-size: 110%;
    color: #263238;
    display: inline-flex !important;
}

.grd-facility-name {
    font-size: 90%;
    color: #FF751A;
}

.grd-room-facilities {
    font-size: 1rem;
    overflow: hidden;
    max-height: 20px;

}
.backward > i, .forward > i {
    padding: 3px;
    font-size: 2rem;
    margin: 0;
}
.backward,.forward {
    position: absolute;
    background-color: #1d4254;
    font-weight: bold;
    z-index: 5;
    margin-top: 28px;
    border: 0px none;
    box-shadow: 0px 0px 8px -3px #212121;
    color: #FAFAFA;
    padding: 4px;
    height: 30px;
    width: 30px;
}
.backward { margin-left: 214px;}
.forward  {margin-left: -15px;}
.weekend { background: rgba(0, 0, 0, 0.06) none repeat scroll 0% 0% !important }

